<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="noindex, nofollow"/>
        <meta name="author" content="Gr&eacute;gory Paul"/>
        <link rel="icon" type="image/png" href="imgs/favicon.ico" />
        <title data-l10n-id="maintitle">Mes recettes Thermomix</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"  href="css/jquery.mobile-1.2.1.min.css" />
        <link rel="stylesheet"  href="css/thermomix.css" />
        <link rel="manifest" href="./manifest.json"/>
        <link rel="apple-touch-icon" href="imgs/logo.png" />
        <script src="js/thermomix-recipes.min.js"></script>
        <link rel="prefetch" type="application/l10n" href="js/l10n.ini" />
    </head>
    <body>
        <div id="connection-status">
            <img data-l10n-id="online" class="online" src="imgs/connect.png" title="Connecté (application en lecture/écriture)" alt="Connecté" />
            <img data-l10n-id="offline"class="offline" src="imgs/disconnect.png" title="Déconnecté (application en lecture seule)" alt="Disconnecté" />
        </div>

        <!-- Homepage / Categories list -->
        <div data-role="page" id="categories">

            <div data-role="header">
                <h1 data-l10n-id="maintitle">Mes recettes Thermomix</h1>
                <a href="#edit-recipe" data-icon="add" class="ui-btn-right action"><span data-l10n-id="add-recipe">Ajouter une recette</span></a>
            </div>

            <div data-role="content">
                <ul id="categories-list" data-role="listview" data-theme="c"></ul>

                <script type="text/template" id="categories-list-template">
                    <% _.each(categories, function(category) { %>
                        <li><a href="#recipes?categoryId=<%= category.id %>"><%= category.name %><span class="ui-li-count"><%= category.count %></span></a></li>
                    <% }); %>
                </script>
            </div>

            <div data-role="footer" data-position="fixed">
                <div data-role="navbar">
                    <ul>
                        <li><a href="#categories" data-role="button" data-icon="home"><span data-l10n-id="home">Accueil</span></a>
                        <li><a href="#search" data-role="button" data-icon="search"><span data-l10n-id="search">Chercher</span></a>
                        <li><a href="#recipes-last-done" data-role="button" data-icon="info"><span data-l10n-id="suggestion">Suggestions</span></a>
                        <li><a href="#configuration" data-role="button" data-icon="gear"><span data-l10n-id="configuration">Configuration</span></a>
                    </ul>
                </div>
            </div>
        </div>


        <!-- Recipes list -->
        <div data-role="page" id="recipes">

            <div data-role="header">
                <h1></h1>
                <a href="#edit-recipe" data-href="#edit-recipe?categoryId=%categoryId%" data-icon="add" class="ui-btn-right action"><span data-l10n-id="add-recipe">Ajouter une recette</span></a>
            </div>

            <div data-role="content">
                <ul id="recipes-list" data-role="listview" data-theme="c"></ul>

                <script type="text/template" id="recipes-list-template">
                    <% _.each(recipes, function(recipe) { %>
                        <li><a href="#recipe?categoryId=<%= categoryId %>&recipeId=<%= recipe.id %>"><%= recipe.name %></a></li>
                    <% }); %>
                </script>
            </div>

            <div data-role="footer" data-position="fixed">
                <div data-role="navbar">
                    <ul>
                        <li><a href="#categories" data-role="button" data-icon="home"><span data-l10n-id="home">Accueil</span></a>
                        <li><a href="#search" data-role="button" data-icon="search"><span data-l10n-id="search">Chercher</span></a>
                        <li><a href="#recipes-last-done" data-role="button" data-icon="info"><span data-l10n-id="suggestion">Suggestions</span></a>
                        <li><a href="#configuration" data-role="button" data-icon="gear"><span data-l10n-id="configuration">Configuration</span></a>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Recipes list by last done -->
        <div data-role="page" id="recipes-last-done">

            <div data-role="header">
                <h1 data-l10n-id="suggestion">Suggestions</h1>
            </div>

            <div data-role="content">
                <ul id="recipes-last-done-list" data-role="listview" data-theme="c"></ul>

                <script type="text/template" id="recipes-last-done-list-template">
                    <% _.each(recipes, function(recipe) { %>
                        <li><a href="#recipe?categoryId=<%= recipe.categoryId %>&recipeId=<%= recipe.id %>"><%= recipe.name %></a></li>
                    <% }); %>
                </script>
            </div>

            <div data-role="footer" data-position="fixed">
                <div data-role="navbar">
                    <ul>
                        <li><a href="#categories" data-role="button" data-icon="home"><span data-l10n-id="home">Accueil</span></a>
                        <li><a href="#search" data-role="button" data-icon="search"><span data-l10n-id="search">Chercher</span></a>
                        <li><a href="#recipes-last-done" data-role="button" data-icon="info"><span data-l10n-id="suggestion">Suggestions</span></a>
                        <li><a href="#configuration" data-role="button" data-icon="gear"><span data-l10n-id="configuration">Configuration</span></a>
                    </ul>
                </div>
            </div>
        </div>


        <!-- Search-->
        <div data-role="page" id="search">

            <div data-role="header">
                <h1 data-l10n-id="search">Chercher</h1>
            </div>

            <div data-role="content">

                <input type="search" data-theme="c" data-mini="true" />
                <ul id="recipes-results" data-role="listview" data-theme="c"></ul>
                <p data-l10n-id="noresult" class="noresult">Pas de résultat</p>

                <script type="text/template" id="recipes-results-template">
                    <% _.each(recipes, function(recipe) { %>
                        <li><a href="#recipe?categoryId=<%= recipe.categoryId %>&recipeId=<%= recipe.id %>"><%= recipe.name %></a></li>
                    <% }); %>
                </script>
            </div>

            <div data-role="footer" data-position="fixed">
                <div data-role="navbar">
                    <ul>
                        <li><a href="#categories" data-role="button" data-icon="home"><span data-l10n-id="home">Accueil</span></a>
                        <li><a href="#search" data-role="button" data-icon="search"><span data-l10n-id="search">Chercher</span></a>
                        <li><a href="#recipes-last-done" data-role="button" data-icon="info"><span data-l10n-id="suggestion">Suggestions</span></a>
                        <li><a href="#configuration" data-role="button" data-icon="gear"><span data-l10n-id="configuration">Configuration</span></a>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Recipe -->
        <div data-role="page" id="recipe">

            <div data-role="header">
                <a href="#recipe" class="previous" data-icon="arrow-l"><span data-l10n-id="prev">Précédent</span></a>
                <h1></h1>
                <a href="#recipe" class="next" data-icon="arrow-r"><span data-l10n-id="next">Suivant</span></a>
            </div>

            <div class="content" data-role="content"></div>

            <a href="#recipe?recipeId=" data-icon="check" data-role="button" data-theme="c" class="done action"><span data-l10n-id="mark-done">Marquer cette recette comme faite</span></a>
            <a href="#edit-recipe?recipeId=" data-icon="grid" data-role="button" data-theme="e" class="edit action"><span data-l10n-id="edit-recipe">Modifier cette recette</span></a>
            <a href="#recipes?categoryId=" data-icon="delete" data-role="button" data-theme="a" class="delete action"><span data-l10n-id="delete-recipe">Supprimer cette recette</span></a>

            <div data-role="footer" data-position="fixed">
                <div data-role="navbar">
                    <ul>
                        <li><a href="#categories" data-role="button" data-icon="home"><span data-l10n-id="home">Accueil</span></a>
                        <li><a href="#search" data-role="button" data-icon="search"><span data-l10n-id="search">Chercher</span></a>
                        <li><a href="#recipes-last-done" data-role="button" data-icon="info"><span data-l10n-id="suggestion">Suggestions</span></a>
                        <li><a href="#configuration" data-role="button" data-icon="gear"><span data-l10n-id="configuration">Configuration</span></a>
                    </ul>
                </div>
            </div>
        </div>


        <!-- Edit recipe -->
        <div data-role="page" id="edit-recipe">

            <div data-role="header">
                <a href="#categories" class="cancel" data-icon="delete"><span data-l10n-id="cancel">Annuler</span></a>
                <h1 class="new"><span data-l10n-id="new-recipe">Nouvelle recette</span></h1>
                <h1 class="edit"><span data-l10n-id="edit-recipe">Modification d’une recette</span></h1>
                <a href="#" data-href="#recipe?categoryId=%categoryId%&recipeId=%recipeId%" class="save action" data-icon="check" data-theme="b"><span data-l10n-id="save">Sauvergarder</span></a>
            </div>

            <div data-role="content">
                <form>
                    <label for="edit-recipe-select-category" class="select"><span data-l10n-id="category">Catégorie</span> :</label>
                    <select name="category" id="edit-recipe-select-category"></select>
                    <script type="text/template" id="categories-select-list-template">
                        <% _.each(categories, function(category) { %>
                            <option value="<%= category.id %>"><%= category.name %></option>
                        <% }); %>
                    </script>

                    <label for="edit-recipe-text-name"><span data-l10n-id="name">Nom</span> :</label>
                    <input type="text" name="name" id="edit-recipe-text-name" value=""  />

                    <label for="edit-recipe-text-recipe"><span data-l10n-id="recipe">Recette</span> :</label>
                    <textarea name="recipe" id="edit-recipe-text-recipe"></textarea>

                    <p class="icons">
                        <img data-l10n-id="reverse" src="imgs/icon-inverse.png" title="inverse" class="insert"/>
                        <img data-l10n-id="simmer" src="imgs/icon-mijotage.png" title="mijotage" class="insert"/>
                        <img data-l10n-id="tare" src="imgs/icon-tare.png" title="tare" class="insert"/>
                        <img data-l10n-id="opening" src="imgs/icon-ouverture.png" title="ouverture" class="insert"/>
                        <img data-l10n-id="locking" src="imgs/icon-verrouillage.png" title="verrouillage" class="insert"/>
                        <img data-l10n-id="pickle" src="imgs/icon-petrin.png" title="petrin" class="insert"/>
                    </p>

                    <div data-role="collapsible" class="help" data-collapsed-icon="arrow-r" and data-expanded-icon="arrow-d">
                        <h3><span data-l10n-id="help-syntax">Aide quant à la syntaxe</span></h3>

                        <h4 data-l10n-id="bold">Gras</h4>
                        <pre>**<span data-l10n-id="in-bold">en gras</span>**</pre>

                        <h4 data-l10n-id="italic">Italique</h4>
                        <pre>*<span data-l10n-id="in-bold">en italique</span>*</pre>
                        <p data-l10n-id="or">ou</p>
                        <pre>_<span data-l10n-id="in-bold">en italique</span>_</pre>

                        <h4 data-l10n-id="list-sublist">Listes et sous listes</h4>
                        <pre>- <span data-l10n-id="item">élément</span> 1<br>- <span data-l10n-id="item">élément</span> 2<br> - <span data-l10n-id="subitem">sous-élément</span></pre>

                        <h4 data-l10n-id="title1">Titre de 1er niveau</h4>
                        <pre># <span data-l10n-id="title">Titre</span> #</pre>

                        <h4 data-l10n-id="title2">Titre de 2ème niveau</h4>
                        <pre>## <span data-l10n-id="title">Titre</span> ##</pre>

                        <h4 data-l10n-id="title3">Titre de 3ème niveau</h4>
                        <pre>### <span data-l10n-id="title">Titre</span> ###</pre>

                        <h4 data-l10n-id="link">Lien</h4>
                        <pre>[Thermomix](http://www.vorwerk.com)</pre>

                        <h4 data-l10n-id="image">Image</h4>
                        <pre>![description](imgs/logo_thermomix.png)</pre>
                    </div>

                    <label data-l10n-id="output" class="output">Rendu :</label>
                    <p class="output"></p>
                </form>

            </div>

            <div data-role="footer" data-position="fixed">
                <div data-role="navbar">
                    <ul>
                        <li><a href="#categories" data-role="button" data-icon="home"><span data-l10n-id="home">Accueil</span></a>
                        <li><a href="#search" data-role="button" data-icon="search"><span data-l10n-id="search">Chercher</span></a>
                        <li><a href="#recipes-last-done" data-role="button" data-icon="info"><span data-l10n-id="suggestion">Suggestions</span></a>
                        <li><a href="#configuration" data-role="button" data-icon="gear"><span data-l10n-id="configuration">Configuration</span></a>
                    </ul>
                </div>
            </div>
        </div>


        <!-- Configuration -->
        <div data-role="page" id="configuration">

            <div data-role="header">
                <a href="#categories" class="cancel" data-icon="delete">Annuler</a>
                <h1 data-l10n-id="configuration">Configuration</h1>
                <a href="#categories" class="save action" data-icon="check" data-theme="b"><span data-l10n-id="save">Sauvergarder</span></a>
            </div>

            <div data-role="content">

                <h2><span data-l10n-id="cookbook-choice">Choix du livre de recette</span> :</h2>
                <input type="text" name="cookbook" id="configuration-cookbook" value="" />
                <p data-l10n-id="cookbook-details">Vos recettes sont sauvegardées dans un livre de recette. La modification de cette valeur va remplacer vos recettes actuelles par celles contenues dans le livre saisi.</p>

                <h2 data-l10n-id="categories-configuration">Configuration des catégories :</h2>
                <ul id="categories-edit-list" data-role="listview" data-theme="c"></ul>
                <a href="#edit-category" class="add action" data-icon="add" data-role="button"><span data-l10n-id="add-category">Ajouter une catégorie</span></a>

                <script type="text/template" id="categories-edit-list-template">
                    <% _.each(categories, function(category) { %>
                        <li><a href="#edit-category?categoryId=<%= category.id %>"><%= category.name %><span class="ui-li-count"><%= category.count %></span></a></li>
                    <% }); %>
                </script>

            </div>

            <div data-role="footer" data-position="fixed">
                <div data-role="navbar">
                    <ul>
                        <li><a href="#categories" data-role="button" data-icon="home"><span data-l10n-id="home">Accueil</span></a>
                        <li><a href="#search" data-role="button" data-icon="search"><span data-l10n-id="search">Chercher</span></a>
                        <li><a href="#recipes-last-done" data-role="button" data-icon="info"><span data-l10n-id="suggestion">Suggestions</span></a>
                        <li><a href="#configuration" data-role="button" data-icon="gear"><span data-l10n-id="configuration">Configuration</span></a>
                    </ul>
                </div>
            </div>
        </div>


        <!-- Edit category -->
        <div data-role="page" id="edit-category">

            <div data-role="header">
                <a href="#configuration" class="cancel" data-icon="delete"><span data-l10n-id="cancel">Annuler</span></a>
                <h1 class="new"><span data-l10n-id="new-category">Nouvelle catégorie</span></h1>
                <h1 class="edit"><span data-l10n-id="edit-category">Modification d’une catégorie</span></h1>
                <a href="#configuration" class="save action" data-icon="check" data-theme="b"><span data-l10n-id="save">Sauvergarder</span></a>
            </div>

            <div data-role="content">
                <form>
                    <label for="edit-category-text-name"><span data-l10n-id="name">Nom</span> :</label>
                    <input type="text" name="name" id="edit-category-text-name" value=""  />
                    <a href="#configuration" data-icon="delete" data-role="button" data-theme="a" class="delete action"><span data-l10n-id="delete-category">Supprimer cette catégorie</span></a>
                </form>
            </div>

            <div data-role="footer" data-position="fixed">
                <div data-role="navbar">
                    <ul>
                        <li><a href="#categories" data-role="button" data-icon="home"><span data-l10n-id="home">Accueil</span></a>
                        <li><a href="#search" data-role="button" data-icon="search"><span data-l10n-id="search">Chercher</span></a>
                        <li><a href="#recipes-last-done" data-role="button" data-icon="info"><span data-l10n-id="suggestion">Suggestions</span></a>
                        <li><a href="#configuration" data-role="button" data-icon="gear"><span data-l10n-id="configuration">Configuration</span></a>
                    </ul>
                </div>
            </div>
        </div>
        <script defer="defer">
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('./sw.js').then(function() {
                    console.log('service worker registration complete');
                }, function(e) {
                    console.log('service worker registration failure:', e);
                });
            }
        </script>
    </body>
</html>
